<body class=menu>
<h2>About Me</h2>
<hb />

<h3>Life</h3>

<p>My wife Rachel and I have been married for 4 1/2 years. We have a 6 month old son named Anders. and a 2 year old chocolate lab named Sundance.</p>
<img src="">

<h3>Work</h3>
<p> Prior to enrolling at DevPoint Labs, I worked in Investment Management Analyst for Vanguard in Scottsdale, AZ. While at Vanguard, I worked on a specialized team geared towards helping high-net worth investors, professionals, and small business owners with complex investment problems. Before my time at Vanguard, I worked as an Investment Banking Analyst in Chicago. As an analyst there, I cut my teeth on technical projects like making desktop tools for in-house traders. Working as an analyst and making real tools that solved real problems helped grow my curiosity for programming.</p>

<h3>School</h3>

<p>I studied Philosophy at BYU and took a few entry level Computer Science classes! . I also played Lacrosse for a couple of years on the school team.</p>


</body>