<body class="contact">
  

<h3>Contact Me</h3>
<hb />



<li><a href="https://linkedin.com/in/tutterback">Connect with me on LinkedIn</a></li>
<li><a href="https://twitter.com/tsmells">Follow me on Twitter</a></li>
<li><a href="mailto:todd.j.utterback@gmail.com" target="_top">Send me an email</a></li>



</body>  
