<!DOCTYPE html>
<html>
  <head>
    <title>Todd Utterback</title>
    <link href='/stylesheets/styles.css' rel="stylesheet" />
  </head>
  <body>
    <h1>Todd Utterback</h1>
    <hr />
    <%= yield %>
  </body>
  <hr />
  <footer class=footer>
    <a href='/' class='about_me-link'>About Me</a>
    <a href='/resume' class='resume-link'>Resume</a>
    <a href='/contact' class='contact-link'>Contact</a>
  </footer> 
</html>