<body class="resume">
<h3>Resume</h3>
<hb />
<h4>Experience</h4>

<h5>Retirement Specialist</h5>
<h5>Vanguard</h5>
<h6>June 2014 – Present (1 year 9 months) Scottsdale, Arizona</h6>
<p>
<ul>
  <li>Subject Matter Expert for small business retirement plans (SIMPLE IRA's, SEP IRA's, Individual 401(k)s, 403(b)7's), including IRS and government regulation. </li>
  <li>Educate and give guidance on Complex Retirement topics, such as rechars, excess removals, Inherited IRA rules and regulations, IRA conversions, backdoor roth contributions, 72(t) exceptions. </li>
  <li>Maintain technical expertise and stay abreast of current legislation and regulation.</li>
 </ul> 
</p>

<h5>Investment Management Professional</h5>
<h5>Vanguard</h5>
<h6>October 2013 – Present (2 years 5 months) Scottsdale, Arizona</h6>
<p>
  <ul>
    <li>Help strengthen relationship with client's by identifying needs, resolving issues, and position appropriate solutions and services to best meet those needs, including low cost products and investment advice or guidance.</li>
    <li>Subject matter expert on Vanguard Retail accounts, like trusts, retirement (IRA's), corporate, joint, and minor.</li>
    <li>Educate clients on Vanguard investing philosophy, Vanguard investment products (mutual funds and ETFs), and Vanguard services.</li>
  </ul>
</p>

<h5>Investment Banking Analyst - Trading Products<h5>
<h5>BMO Capital Markets</h5>
<h6>August 2012 – August 2013 (1 year 1 month) Chicago, Illinois</h6>
<p>
<ul>
  <li>Trading Products Rotational Program - Municipal bond trading desk & ForEx sales desk. </li>
  <li>Develop and implement desktop tool to streamline trading process and disseminate important information to traders and sales team in real-time.</li>
  <li>Assist internal and external clients in trading and sales process.</li>
</ul>
</p>


<h5>Summer Analyst</h5>
<h5>BMO Capital Markets</h5>
<h6>June 2012 – August 2012 (3 months) Chicago, Illinois</h6>
<p>Summer Analyst - Strategic Analytics Group</p>

<h3>Education</h3>

Brigham Young University
Bachelor of Arts (B.A.), Philosophy
Activities and Societies: BYU Lacrosse

<h3>Volunteer Experience & Causes</h3>

<h5>Full-time Missionary - The Church of Jesus Christ of Latter-day Saints</h5>
<h6>November 2004 – November 2006 (2 years 1 month) Torreon, Mexico</h6>
<p>
<ul>
<li>Served in Torreón, Mexico - Fluent in Spanish</li>
<li>Worked 6.5 days a week / 10 hours a day teaching those interested about The Church of Jesus Christ of Latter-day Saints</li>
<li>Found opportunities to serve families in the community. Service opportunities included but were not limited to teaching english classes, organizing and conducting job skills courses, constructing new homes, repairing homes.</li>
</ul>
</p>


<h5>Volunteer - Corazon de Vida Foundation</h5>
<h6>June 2008 Baja, Mexico</h6>
<p>
<ul>
<li>Traveled to Mexico to help repair orphanage. Project involved repairing dilapidated buildings and bringing much needed supplies. </li>
<li>Used Spanish to bridge gap between English speaking volunteers and Spanish speaking volunteers</li>
</ul>
</p>

<h5>Leader - Boy Scouts of America</h5>
<h6>2015 – Present </h6>




</hb>
</body>
